<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <h2>Projects</h2>
<ul>
    
{% for project in projects %}
    <li>
        <a href="{% url 'project_detail' project.id %}">{{ project.name }} — {{ project.description }}</a>
        <br>Manager: {{ project.manager.username }}
        <br>Developers: {{ project.developers.all|join:", " }}
    </li>
    <br>
{% endfor %}
</ul>

</body>
</html>